.product-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 40px 20px;
}

.product-item {
  position: relative;
}

.product-item__link {
  text-decoration: none;
  display: block;
}

.product-item__image {
  width: 100%;
  height: auto;
  display: block;
}

.product-item__title,
.product-item__price {
  font-size: 16px;
  line-height: 24px;
  color: #222;
  margin: 10px 0 0;
}

.product-item__price {
  color: #848484;
  margin-top: 4px;
}

.product-tags {
  position: absolute;
  top: 14px;
  left: 1px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-tag {
  background-color: #222;
  color: #fff;
  padding: 4px 12px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.product-item__form {
  margin-top: 8px;
}

.product-item__add-to-cart {
  cursor: pointer !important;
}

@media (min-width: 1200px) {
  .product-items {
    padding: 60px 80px;
  }
}
